.profile__image {
  position: relative;
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
}

.profile__edit-icon {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
  pointer-events: auto; /* должно быть auto, чтобы элемент ловил клики */
  cursor: pointer; /* курсор для UX */
}

.profile__edit-icon svg {
  width: 26px;
  height: 26px;
}

.profile__image:hover .profile__edit-icon {
  opacity: 1;
  pointer-events: auto; /* активировать иконку при ховере */
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}
